<h1>SCP Foundation #site7 logger</h1>

<p style='text-align:center'>
  <em><%= @messages['rows'].count %> messages</em>
</p>

<% @messages['rows'].reverse.each do |msg| %>
  <p class='message' id='<%= msg['id'] %>'>
    <div>
      <strong><%= msg['doc']['name'] %></strong>
      <a href="/<%= msg['id'] %>" class='message-link'><%= Time.at(msg['id'].to_i/1000).strftime("(%d.%m.%y %k:%M)") %></a>
    </div>
    <%= msg['doc']['content'] %>
  </p>
<% end %>
