<h1><a href="/">SCP Foundation #site7 logger</a></h1>

<h2 style="text-align:center">Обновление данных логов прекращено</h2>

<div class='settings'>
  <div class='left'>
    <% if @page > 0 %>
      <a href="/?page=<%= @page - 1 %>">&larr;&nbsp;previous</a>
    <% end %>
  </div>

  <div style='text-align:center;display:inline'>
    <em>Page <%= @page + 1 %>/<a href="/?page=<%= @total_pages - 1 %>"><%= @total_pages %></a></em>
  </div>

  <div class='right'>
    <% if @page < @total_pages - 1 %>
      <a href="/?page=<%= @page + 1 %>">next&nbsp;&rarr;</a>
    <% end %>
  </div>
</div>

<div class='clear'></div>

<% @messages['rows'].each do |msg| %>
  <div class='message' id='<%= msg['id'] %>'>
    <div class='info'>
      <a href="/<%= msg['id'] %>" class='message-link' title='<%= Time.at(msg['id'].to_i/1000).strftime("%d.%m.%y %k:%M") %>'><%= msg['doc']['name'] %></a>
    </div>
    <div class='text'>
      <%= msg['doc']['content'] %>
    </div>
    <div class='clear'></div>
  </div>
<% end %>
