<h1>SCP Foundation #site7 logger</h1>

<form action='/' method='GET' style='text-align:center'>
  Skip: <input type='text' name='skip' value='<%= params[:skip] %>' />
  Limit: <input type='text' name='limit' value='<%= params[:limit] %>' />
  <input type='submit' value='Show me' />
</form>

<% @messages['rows'].each do |msg| %>
  <p class='message' id='<%= msg['id'] %>'>
    <div>
      <strong><%= msg['doc']['name'] %></strong>
      <a href="/<%= msg['id'] %>" class='message-link'><%= Time.at(msg['id'].to_i/1000).strftime("(%d.%m.%y %k:%M)") %></a>
    </div>
    <%= msg['doc']['content'] %>
  </p>
<% end %>
